.tiptap-tooltip {
  --tt-tooltip-bg: white;
  --tt-tooltip-text: var(--tt-gray-light-900);
  --tt-kbd: var(--tt-gray-light-600);

  .dark & {
    --tt-tooltip-bg: var(--tt-gray-light-900);
    --tt-tooltip-text: var(--white);
    --tt-kbd: var(--tt-gray-light-a-400);
  }
}

.tiptap-tooltip {
  z-index: 200;
  overflow: hidden;
  border-radius: var(--tt-radius-md, 0.375rem);
  background-color: var(--tt-tooltip-bg);
  border: 1px solid var(--tt-gray-light-200);
  padding: 0.375rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--tt-tooltip-text);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -2px rgb(0 0 0 / 0.05);
  text-align: center;

  .dark & {
    border-color: var(--tt-gray-dark-700);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.3), 0 4px 6px -2px rgb(0 0 0 / 0.2);
  }

  kbd {
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif;
    text-transform: capitalize;
    color: var(--tt-kbd);
  }
}
